/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Roboto", "sans-serif";
  background-color: rgba(237, 244, 249, 0.749);
}

@layer base {
  h1 {
    @apply text-4xl p-4; /* Apply Tailwind classes for h1 */
  }
  p {
    @apply text-base p-2; /* Apply Tailwind classes for p */
  }
}
